<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/slick.js"></script>
<script src="./assets/js/snowfall.jquery.js"></script>
<script>
    $(document).ready(function () {
        $('.slider-img').slick({
            centerMode: false,
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true,
            centerPadding: 0,
            dots: true,
            arrows: false
        });
        var sizew = window.innerWidth;
        if (sizew > 1200){
            $(document).snowfall({
                image: [
                    'https://thuclfc.gitlab.io/tuongky/build/assets/img/lf1.png',
                    'https://thuclfc.gitlab.io/tuongky/build/assets/img/lf2.png',
                    'https://thuclfc.gitlab.io/tuongky/build/assets/img/lf4.png',
                    'https://thuclfc.gitlab.io/tuongky/build/assets/img/lf5.png',
                    'https://thuclfc.gitlab.io/tuongky/build/assets/img/lf6.png',
                    'https://thuclfc.gitlab.io/tuongky/build/assets/img/lf7.png',
                    'https://thuclfc.gitlab.io/tuongky/build/assets/img/lf8.png',
                    'https://thuclfc.gitlab.io/tuongky/build/assets/img/lf9.png',
                ],
                flakeCount:14,
                minSize: 50,
                maxSize: 120,
                minSpeed:1,
                maxSpeed:4,
            });
        }else {
            $(document).snowfall({
                image: [
                    'https://thuclfc.gitlab.io/tuongky/build/assets/img/lf10.png',
                    'https://thuclfc.gitlab.io/tuongky/build/assets/img/lf11.png',
                    'https://thuclfc.gitlab.io/tuongky/build/assets/img/lf12.png',
                ],
                flakeCount:7,
                minSize: 10,
                maxSize: 50,
                minSpeed:1,
                maxSpeed:4,
            });
        }

        if(sizew < 760){
            $('.form-search .btn-submit').on('click',function (){
               $('.form-search').toggleClass('active');
            });
        }
    });
</script>
</body>
</html>