<main>
    <div class="category flex">
        <div class="frame">
            <ul class="nav-category flex pr">
                <li><a href="" title="Tin mới" class="active">Tin mới</a></li>
                <li><a href="" title="sự kiện">sự kiện</a></li>
                <li><a href="" title="Đặc sắc">Đặc sắc</a></li>
                <li><a href="" title="Ví Gpay">Ví Gpay</a></li>
            </ul>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Hướng dẫn</a></li>
                <li class="breadcrumb-item active" aria-current="page">[Hướng Dẫn] Tải Game Tượng kỳ</li>
            </ul>
            <div class="category-detail">
                <h2 class="title">Hướng Dẫn Tải Game Tượng kỳ</h2>
                <article>
                    <p>Các vị Đạo Hữu thân mến,</p>

                    <p>Xin chào các Đạo Hữu, bài viết này BQT Phàm Nhân Tu Tiên xin được hướng dẫn Đạo Hữu cách tải game. Các vị Đạo Hữu hãy tham khảo hướng dẫn dưới đây nhé:</p>

                    <p><strong>1. TẢI GAME TRÊN ANDROID:</strong></p>

                    <p><strong>Bước 1:</strong> Tải game tại đây hoặc tìm từ khóa "Phàm Nhân Tu Tiên" trên Google Play</p>

                    <p><strong>Bước 2:</strong> Nhấn vào icon Phàm Nhân Tu Tiên để chạy game.</p>

                    <p><strong>Bước 3:</strong> Màn hình đăng nhập sẽ hiện ra, Đạo hữu có hai lựa chọn: đăng nhập vào game bằng facebook và đăng nhập bằng Email hoặc SĐT</p>
                    <p><img src="./assets/img/thumb3.jpg" alt=""></p>
                    <p>> Dùng tài khoản Facebook để chơi game</p>

                   <p> > Đăng nhập bằng mail. Hãy đăng ký ngay cho mình một tài khoản bằng mail FunID để nhận đăng nhập vào và trải nghiệm game ngay nhé ^^!</p>

                    <p>> Chơi Ngay - Khuyến cáo các Kiếm Khách hạn chế đăng nhập bằng cách này.</p>

                    <p>Chúc các Đạo Hữu có những giây phút thư giãn thoải mái cùng Tượng Kỳ !</p>

                    <br>
                    <br>
                    <p>BQT Tượng Kỳ</p>


                </article>
                <div class="tag flex">
                    <h5>Tags:</h5>
                    <a href="" title="">phàm nhân tu tiên</a>,
                    <a href="" title="">hướng dẫn nạp game phàm nhân tu tiên</a>,
                    <a href="" title="">hướng dẫn nạp thẻ phàm nhân tu tiên</a>,
                    <a href="" title="">hướng dẫn nạp thẻ phàm nhân tu tiên</a>,
                    <a href="" title="">nạp thẻ phàm nhân tu tiên</a>,
                    <a href="" title="">nạp thẻ</a>,
                </div>
                <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="" data-numposts="3"></div>
                <div class="news-related">
                    <h4>Tin khác</h4>
                    <ul>
                        <li>
                            <a href="">[Giới Thiệu] Game Phàm Nhân Tu Tiên</a>
                            <time>31/05</time>
                        </li>
                        <li>
                            <a href="">[Giới Thiệu] Game Phàm Nhân Tu Tiên</a>
                            <time>31/05</time>
                        </li>
                        <li>
                            <a href="">[Giới Thiệu] Game Phàm Nhân Tu Tiên</a>
                            <time>31/05</time>
                        </li>
                        <li>
                            <a href="">[Giới Thiệu] Game Phàm Nhân Tu Tiên</a>
                            <time>31/05</time>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="download">
            <h5>Tải game app</h5>
            <div class="download__qrcode"><img src="./assets/img/qrcode.jpg" alt=""></div>
            <div class="download__store">
                <a href="" title="" class="android">google play</a>
                <a href="" title="" class="ios">google play</a>
            </div>
        </div>
    </div>
</main>