<main>
    <div class="section section1 flex">
        <div class="section__left">
            <div class="slider-img">
                <div class="item"><a href=""><img src="./assets/img/slide.jpg" alt=""></a></div>
                <div class="item"><a href=""><img src="./assets/img/slide.jpg" alt=""></a></div>
            </div>
            <div class="news">
                <ul class="news__tab nav flex">
                    <li><a href="#tinmoi" data-toggle="tab" class="active">Tin mới</a></li>
                    <li><a href="#sukien" data-toggle="tab">sự kiện</a></li>
                    <li><a href="#dacsac" data-toggle="tab">Đặc sắc</a></li>
                    <li><a href="#vigpay" data-toggle="tab">Ví Gpay</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tinmoi">
                        <ul class="news__list">
                            <li>
                                <a href="" title="">[Thông Báo] Cảnh báo Refund - Khóa tài khoản</a>
                                <time>20/6</time>
                            </li>
                            <li>
                                <a href="" title="">[Giới Thiệu] Game Phàm Nhân Tu Tiên</a>
                                <time>20/6</time>
                            </li>
                            <li>
                                <a href="" title="">[Thông Báo] Cảnh báo Refund - Khóa tài khoản</a>
                                <time>20/6</time>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="sukien">
                        <ul class="news__list">
                            <li>
                                <a href="" title="">[Thông Báo] Cảnh báo Refund - Khóa tài khoản</a>
                                <time>20/6</time>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="dacsac">
                        <ul class="news__list">
                            <li>
                                <a href="" title="">[Thông Báo] Cảnh báo Refund - Khóa tài khoản</a>
                                <time>20/6</time>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="vigpay">
                        <ul class="news__list">
                            <li>
                                <a href="" title="">[Thông Báo] Cảnh báo Refund - Khóa tài khoản</a>
                                <time>20/6</time>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section__right">
            <div class="box-btn flex">
                <a href="" title="" class="btn-dacsac">Đặc sắc <i class="icon"></i></a>
                <a href="" title="" class="btn-huongdan">Hướng dẫn <i class="icon"></i></a>
                <a href="" title="" class="btn-giftcode">Giftcode <i class="icon"></i></a>
                <a href="" title="" class="btn-hotro">Hỗ trợ <i class="icon"></i></a>
            </div>
        </div>
    </div>
    <div class="section section2 flex">
        <div class="section__left">
            <h2>Ảnh game</h2>
            <div class="slider-img">
                <div class="item"><a href=""><img src="./assets/img/slide.jpg" alt=""></a></div>
                <div class="item"><a href=""><img src="./assets/img/slide.jpg" alt=""></a></div>
            </div>
        </div>
        <div class="section__right">
            <h2>Đặc sắc game</h2>
            <div class="dacsac flex">
                <div class="item">
                    <a href="" class="thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                    <h3><a href="">Tiên Cảnh Tiên Giới...</a></h3>
                </div>
                <div class="item">
                    <a href="" class="thumb"><img src="./assets/img/thumb2.jpg" alt=""></a>
                    <h3><a href="">Tiên Cảnh Tiên Giới...</a></h3>
                </div>
                <div class="item">
                    <a href="" class="thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                    <h3><a href="">Tiên Cảnh Tiên Giới...</a></h3>
                </div>
                <div class="item">
                    <a href="" class="thumb"><img src="./assets/img/thumb2.jpg" alt=""></a>
                    <h3><a href="">Tiên Cảnh Tiên Giới...</a></h3>
                </div>
            </div>
        </div>
    </div>
</main>