<main>
    <div class="category flex">
        <div class="frame">
            <ul class="nav-category flex pr">
                <li><a href="/tin-tuc.html" class="active" title="Tin mới">Tin mới</a></li>
                <li><a href="" title="sự kiện">sự kiện</a></li>
                <li><a href="" title="Đặc sắc">Đặc sắc</a></li>
                <li><a href="" title="Ví Gpay">Ví Gpay</a></li>
            </ul>
            <ul class="news_list">
                <li>
                    <a href="" title="">[Thông Báo] Cảnh báo Refund - Khóa tài khoản</a>
                    <time>20/6</time>
                </li>
                <li>
                    <a href="" title="">[Giới Thiệu] Game Phàm Nhân Tu Tiên</a>
                    <time>20/6</time>
                </li>
                <li>
                    <a href="" title="">[Thông Báo] Cảnh báo Refund - Khóa tài khoản</a>
                    <time>20/6</time>
                </li>
                <li>
                    <a href="" title="">[Thông Báo] Cảnh báo Refund - Khóa tài khoản</a>
                    <time>20/6</time>
                </li>
                <li>
                    <a href="" title="">[Giới Thiệu] Game Phàm Nhân Tu Tiên</a>
                    <time>20/6</time>
                </li>
                <li>
                    <a href="" title="">[Thông Báo] Cảnh báo Refund - Khóa tài khoản</a>
                    <time>20/6</time>
                </li>
            </ul>
        </div>
        <div class="download">
            <h5>Tải game app</h5>
            <div class="download__qrcode"><img src="./assets/img/qrcode.jpg" alt=""></div>
            <div class="download__store">
                <a href="" title="" class="android">google play</a>
                <a href="" title="" class="ios">google play</a>
            </div>
        </div>
    </div>
</main>