:root{
  --HelveticaNeue-CondensedBold: HelveticaNeue-CondensedBold,sans-serif;
  --helveticaneuebold: helveticaneuebold,sans-serif;
  --HelveticaNeue: HelveticaNeue,sans-serif;
}
body{
  width: 100%;
  min-height: vw(1290px);
  background: #b29984 url("#{$img-path}/bg1.jpg") no-repeat 0 0/contain;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  color: #000;
  line-height: 1.4;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 8px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}
body.bg-category{
  background: #b29984 url("#{$img-path}/bg-cat.jpg") no-repeat 0 0/contain;
  header{
    min-height: vw(620px);
    .download{display: none;}
    h1{display: inline-block; margin: 3vw 0 0 37vw;}
  }
}

@font-face {
  font-family: HelveticaNeue-CondensedBold;
  src: url("#{$font-path}/helveticaneuecondensedbold.ttf");
}

@font-face {
  font-family: helveticaneuebold;
  src: url("#{$font-path}/helveticaneuebold.ttf");
}
@font-face {
  font-family: HelveticaNeue;
  src: url("#{$font-path}/HelveticaNeue.otf");
}

body.modal-open {
  overflow-y: inherit;
  padding-right: 0 !important;
}
a:hover{text-decoration: none;}
a{transition: .26s;}
img{max-width: 100%;}
%hover{-webkit-filter: saturate(1.6); filter: saturate(1.6);}
//header
header{
  min-height: vw(1107px);
  h1{display: inline-block; margin: 3.5vw 0 0 19vw;}
  .btn-napthe{
    width: vw(178px); height: vw(76px);
    border-radius: vw(20px);
    margin: 0 vw(45px) 0 vw(17px);
    box-shadow: vw(2.5px) vw(4.3px) vw(12.6px) vw(0.4px) rgba(3, 3, 3, 0.33);
    border: solid vw(5px) #e4d4ca;
    background-image: linear-gradient(to top, #0d7000, #c2eb00), linear-gradient(to bottom, #875c3c, #875c3c);
    color: #fff;
    text-transform: uppercase;
    font: vw(30px) var(--HelveticaNeue-CondensedBold);
    &:hover{@extend %hover;}
  }
  .form-search{
    input{
      width: vw(248px); height: vw(59px);
      padding: 0 vw(24px);
      border-radius: vw(29.5px);
      border: solid vw(5px) #e4d4ca;
      background-color: #8c705b;
      color: #fff;
      font: vw(20px) var(--helveticaneuebold);
      &:focus{outline: none;}
      &::placeholder{color: #fff;}
    }
    .btn-submit{
      width: vw(45px); height: vw(38px);
      padding: 0;
      background: url("#{$img-path}/icon-search.png") no-repeat 0 0/contain;
      position: absolute; right: vw(16px); top: vw(9px);
    }
  }
  .logo{
    width: vw(512px); display: block;
    &:hover{@extend %hover;}
  }
  .download{
    margin: vw(30px) 0 0 vw(465px);
    &__qrcode{width: vw(164px);}
    &__store{
      margin-left: vw(13px);
      h5{margin-bottom: vw(6px); font: vw(29px) var(--HelveticaNeue-CondensedBold); text-transform: uppercase;}
      a{width:vw(170px); height: vw(58px); display: block; font-size: 0;}
      .android{margin-bottom: vw(6px); background: url("#{$img-path}/play-store.png") no-repeat 0 0/contain;}
      .ios{background: url("#{$img-path}/app-store.png") no-repeat 0 0/contain;}
    }
  }
}
.navbar_m{display: none;}
.navbar{
  width: 100%; height: vw(130px);
  border-bottom: solid vw(5px) #e4d4ca;
  background: rgba(#dec6b6,.8);
  .icon-home{width: vw(54px); height: vw(63px); margin-top: vw(-8px); background: url("#{$img-path}/home.png") no-repeat 0 0/contain;}
}
.navbar-nav{
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0;
  li{margin: 0 vw(13px);}
  a{display: block; padding: vw(15px) vw(7px); font: vw(30px) var(--HelveticaNeue-CondensedBold); color: #000; text-transform: uppercase; position: relative;}
  a:hover,.active{color: #60a100;}
  .active::after{
    content: "";
    border-radius: 9999px;
    background-color: #60a100;
    height: vw(9px); width: 100%;
    position: absolute; left: 0; bottom: vw(-7px);
  }
}
//main
.section{
  width: vw(1277px); margin: 0 auto;
  &__left{width: vw(721px);}
  &__right{
    width: vw(492px); margin-left: vw(14px);
    .box-btn{
      width: 100%; justify-content: space-between;
      a{display: block; width: vw(243px);font-size: 0; position: relative;}
      a:hover .icon::after{transform: translate(-20%,-50%);}
      .btn-dacsac,.btn-huongdan{
        height: vw(427px); margin-bottom: vw(11px);
        .icon{bottom: vw(51px);}
      }
      .btn-giftcode,.btn-hotro{
        height: vw(291px);
        .icon{bottom: vw(20px);}
      }
      .btn-dacsac{background: url("#{$img-path}/dacsac.png") no-repeat 0 0/contain;}
      .btn-huongdan{background: url("#{$img-path}/huongdan.png") no-repeat 0 0/contain;}
      .btn-giftcode{background: url("#{$img-path}/giftcode.png") no-repeat 0 0/contain;}
      .btn-hotro{background: url("#{$img-path}/hotro.png") no-repeat 0 0/contain;}
      .icon{
        width: vw(80px); height: vw(80px);
        border: solid vw(5px) #e4d4ca;
        background-color: #8c705b;
        border-radius: 50%;
        position: absolute; left: 50%; transform: translateX(-50%);
        &::after{
          content: "";
          width: vw(21px); height: vw(37px);
          background: url("#{$img-path}/more.png") no-repeat 0 0/contain;
          position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
          transition: .25s;
        }
      }
    }
  }
}
.slider-img{
  width: vw(721px); height: vw(423px);
  border-radius: vw(30px);
  border: solid vw(5px) #e4d4ca;
  background-color: #d6beae;
  overflow: hidden;
  img{width: 100%; height: 100%; object-fit: cover;}
  .slick-slide,.slick-list,.slick-track{height: 100%;}
}
.news{
  height: vw(287px);
  padding: vw(20px) vw(38px);
  margin-top: vw(15px);
  border-radius: vw(30px);
  border: solid vw(5px) #e4d4ca;
  background-color: rgba(#d6beae,.8);
  overflow: hidden;
  &__tab{
    width: vw(644px);
    padding: 0 vw(62px) vw(14px);
    background: url("#{$img-path}/line.png") no-repeat bottom center/contain;
    li{margin: 0 vw(14px);}
    a{padding: vw(5px) vw(15px); font: vw(21px) var(--HelveticaNeue-CondensedBold); text-transform: uppercase; color: #000; position: relative;}
    a:hover,.active{color: #60a100;}
    .active::after{
      content: "";
      width: 100%; height: vw(9px);
      background: #60a100;
      border-radius: 9999px;
      position: absolute; bottom: vw(-9px); left: 0;
    }
  }
  &__list{
    padding: vw(15px) vw(32px);
    li{padding: vw(15px) 0; display: flex; justify-content: space-between;}
    a,time{
      display: block;
      font: vw(20px) var(--HelveticaNeue); line-height: vw(30px); color: #000;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    a{flex: 1;}
    a:hover{color: #60a100;}
    >*+*{border-top: 1px solid #b29984;}
  }
}
.section2{
  margin-top: vw(100px);
  h2{margin-bottom: vw(15px); font: vw(30px) var(--HelveticaNeue-CondensedBold); text-transform: uppercase;}
  .dacsac{
    justify-content: space-between;
    .item{width: vw(239px); margin-bottom: vw(22px);}
    .thumb{
      width: 100%; height: vw(170px); display: block;
      border-radius: vw(30px);
      border: solid vw(5px) #e4d4ca;
      background-color: #d6beae;
      overflow: hidden;
      &:hover img{transform: scale(1.1);}
      img{width: 100%; height: 100%; object-fit: cover; transition: .4s;}
    }
    h3{display: block; padding: 0 vw(7px); margin-top: vw(9px); overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font: vw(20px) var(--helveticaneuebold);}
    h3 a{color: #000;}
    h3 a:hover{color: #4e3b2b;}
  }
}


//category
.category{
  width: vw(1227px);
  margin: 0 auto;
  align-items: flex-start;
  .frame,.download{
    border-radius: vw(30px);
    border: solid vw(5px) #e4d4ca;
    background: rgba(#d6beae,.96);
  }
  .frame{
    width: vw(974px);
    padding: vw(37px) vw(67px);
  }
  .download{
    width: vw(239px); margin-left: vw(14px); padding: vw(25px);
    h5{margin-bottom: vw(15px); font: vw(29px) var(--HelveticaNeue-CondensedBold); text-transform: uppercase; text-align: center;}
    &__qrcode{width: vw(164px); margin: 0 auto vw(27px);}
    a{width:vw(170px); height: vw(58px); display: block; margin: 0 auto; font-size: 0;}
    .android{margin-bottom: vw(6px); background: url("#{$img-path}/play-store.png") no-repeat 0 0/contain;}
    .ios{background: url("#{$img-path}/app-store.png") no-repeat 0 0/contain;}
  }
  .nav-category{
    padding: 0 0 vw(15px);
    justify-content: flex-start;
    margin-bottom: vw(20px);
    border-bottom: 1px solid #000;
    li{margin: 0 vw(32px);}
    a{padding: vw(5px) vw(5px); font: vw(29px) var(--HelveticaNeue-CondensedBold); text-transform: uppercase; color: #000; position: relative; line-height: vw(26px);}
    a:hover,.active{color: #60a100;}
    .active::after{
      content: "";
      width: 100%; height: vw(9px);
      background: #60a100;
      border-radius: 9999px;
      position: absolute; bottom: vw(-12px); left: 0;
    }
    &::after,&::before{
      content: "";
      width: vw(39px); height: vw(17px);
      background: url("#{$img-path}/decor.png") no-repeat 0 0/contain;
      position: absolute; bottom: vw(-6px);
    }
    &::before{left: vw(-32px);}
    &::after{right: vw(-32px); transform: rotateY(180deg);}
  }
  .news_list{
    li{padding: vw(14px) 0; display: flex; align-items: center; justify-content: space-between;}
    a,time{
      display: block;
      font: vw(20px) var(--HelveticaNeue); line-height: vw(30px); color: #000;
      white-space: nowrap; text-overflow: ellipsis; overflow: hidden;
    }
    a{padding-right: 15px; flex: 1;}
    a:hover{color: #60a100;}
    >*+*{border-top: 1px solid #b29984;}
  }
}
.pagination{
  margin-top: vw(15px);
  justify-content: center;
  align-items: center;
  li{
    width: 40px; height: 40px;
    display: flex; align-items: center; justify-content: center;
    position: relative;
  }
  .icon-prev,.icon-next{width: 37px; height: 30px; display: block; background: url("#{$img-path}/next3.png") no-repeat 0 0/contain;}
  .icon-prev{transform: rotate(180deg);}
  a{padding: 0; font: 23px TimesNewRomanPSMT, sans-serif; color: #353535; background: none !important; border: none;}
  a:focus{outline: none; box-shadow: none;}
  .page-item.active .page-link{color: #353535;}
  .active::after{
    content: "";
    width: 28px; height: 28px; border: 2px solid #353535;
    position: absolute; top: 5px; left: 5px; transform: rotate(45deg);
  }
}
.category-detail{
  .title{margin: vw(28px) 0 vw(30px); font: vw(35px) var(--HelveticaNeue-CondensedBold); text-transform: uppercase; text-align: center; line-height: 1.5;}
  article{font-size: vw(20px);}
  .tag{
    margin: vw(40px) 0;
    h5{margin-bottom: 0; font-size: 14px;}
    a{color: #2c63ac;}
  }
  .news-related{
    h4{
      margin-bottom: 15px;
      padding-bottom: 10px;
      color: #173f68; text-transform: capitalize; font: vw(20px) var(--helveticaneuebold);
      border-bottom: 1px solid #bca493;
      position: relative;
      &::after{
        content: "";
        width: 80px; height: 2px;
        background: #173f68;
        position: absolute; bottom: -1px; left: 0;
      }
    }
    ul >*+*{border-top: 1px solid #bca493;}
    li{list-style: none; padding: 12px 0; display: flex; justify-content: space-between;}
    a,time{font: 16px var(--HelveticaNeue);}
    a{display: block; padding-right: 10px; flex: 1; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #000;}
    a:hover{color: #60a100;}
  }
  img{display: block; margin: 0 auto;}
}
.breadcrumb{
  align-items: center;
  background: none;
  padding: vw(15px) 0;
  border-bottom: 1px solid #b29984;
  a{color: #000; font-size: vw(20px);}
  .active{font-size: vw(20px); color: #60a100; font-weight: 700;}
}
.fb-comments{margin-bottom: 20px;}

//modal

//footer
footer{
  padding: vw(140px) 0;
  text-align: center;
  font: vw(20px) var(--HelveticaNeue);
  color: #000;
  a{color: #000;}
  a:hover{color: #382c23;}
  .menu{
    justify-content: center;
    a{display: block; padding: 0 vw(20px); color: #000; line-height: 1.2;}
    a:hover{color: #382c23;}
    >*+*{border-left: 1px solid #000;}
  }
  .hotline{
    margin: vw(25px) 0;
    a{color: #c94e4e; font-size: vw(30px);}
  }
  p{margin-top: vw(24px);}
}

//uikt
.pr{position: relative;}
.icon{display: block;}
button{
  border: none;
  cursor: pointer;
  &:focus{outline: none;}
}
.slick-arrow{
  border: none; text-indent: -9999em;
  position: absolute; top: 50%; transform: translateY(-50%); z-index: 2;
  &:focus{outline: none;}
}
.slick-prev{transform: translateY(-50%) rotate(180deg);}
.slick-dots{
  display: flex; justify-content: center; width: 100%;
  position: absolute; bottom: vw(26px);
  li{margin: 0 vw(4px);}
  button{
    width: vw(73px); height: vw(14px);
    background: rgba(#fff,.4);
    border-radius: 9999px;
    font-size: 0;
  }
  .slick-active button{background: rgba(#f0e3da,1);}
}
.modal-navbar{
  width: 100%; height: 100%;
  background: rgba(#000,.5);
  position: fixed; top: 0; z-index: 2;
  opacity: 0; left: -9999px; transition: opacity .3s  ease;
  &.show{left: 0; opacity: 1;}
}


@media (max-width: 760px){
  body.bg-category{
    background: #b29984 url("#{$img-path}/bg-m.jpg") no-repeat 0 0/contain;
    header{
      min-height: vwm(620px);
      h1{margin: 6vw 0 0 15vw;}
    }
  }
  body{min-height: 100vh; background: #b29984 url("#{$img-path}/bg-m.jpg") no-repeat 0 0/contain;}
  header{
    min-height: vwm(680px);
    h1{display: inline-block; margin: 3.5vw 0 0 10vw;}
    .btn-napthe{
      width: vwm(120px); height: vwm(55px);
      border-radius: vwm(15px);
      margin: 0 vwm(30px) 0 vwm(10px);
      border: solid vwm(4px) #e4d4ca;
      font: vwm(20px) var(--HelveticaNeue-CondensedBold);
    }
    .form-search{
      input{
        width: vwm(260px); height: vwm(50px);
        position: absolute;
        bottom: vwm(-46px); right: vwm(-50px);
        font-size: vwm(18px); opacity: 0;
        transition: .25s;
        z-index: -1;
      }
      &.active input{
        opacity: 1;
        bottom: vwm(-95px);
        z-index: 9;
      }
      .btn-submit{
        width: vwm(40px); height: vwm(34px);
        position: absolute; right: vwm(-30px); top: vwm(-20px);
        filter: brightness(0);
      }
    }
    .logo{
      width: vwm(300px); display: block;
    }
    .download{
      margin: vwm(20px) 0 0 vwm(100px);
      &__qrcode{width: vwm(130px);}
      &__store{
        margin-left: vwm(10px);
        h5{margin-bottom: vwm(5px); font: vwm(20px) var(--HelveticaNeue-CondensedBold);}
        a{width:vwm(140px); height: vwm(48px); display: block; font-size: 0;}
        .android{margin-bottom: vwm(6px);}
      }
    }
  }
  .navbar{
    width: 100%; height: vwm(90px);
    border-bottom: solid vw(5px) #e4d4ca;
    background: rgba(#dec6b6,.8);
    .icon-home{width: vwm(40px); height: vwm(47px); margin-top: vwm(-8px);}
  }
  .navbar-nav{
    li{margin: 0 vwm(10px);}
    a{padding: vwm(10px) vwm(5px); font: vwm(20px) var(--HelveticaNeue-CondensedBold); color: #000;}
    .active::after{height: vwm(4px); bottom: vwm(-4px);}
  }

  //main
  .section{
    width: 100%; margin: 0 auto;
    &__left{max-width: 721px; width: vwm(640px); margin: 0 auto;}
    &__right{
      max-width: 492px; width: vwm(640px); margin: 0 auto;
      .box-btn{
        width: 100%;
        margin-top: vwm(30px);
        justify-content: center;
        a{display: block; margin: vwm(15px); width: vwm(243px); font-size: 0; position: relative;}
        a:hover .icon::after{transform: translate(-20%,-50%);}
        .btn-dacsac,.btn-huongdan{
          height: vwm(427px);
          .icon{bottom: vwm(51px);}
        }
        .btn-giftcode,.btn-hotro{
          height: vwm(291px);
          .icon{bottom: vwm(20px);}
        }
        .icon{
          width: vwm(80px); height: vwm(80px);
          border: solid vwm(5px) #e4d4ca;
          &::after{
            content: "";
            width: vwm(21px); height: vwm(37px);
          }
        }
      }
    }
  }
  .slider-img{
    width: vwm(640px); height: vwm(380px); margin: 0 auto;
    border-radius: vwm(20px);
    border: solid vwm(5px) #e4d4ca;
  }
  .news{
    width: vwm(640px);
    height: vwm(250px);
    margin: vwm(20px) auto 0;
    padding: vwm(15px) vwm(30px);
    border-radius: vwm(20px);
    border: solid vwm(5px) #e4d4ca;
    &__tab{
      width: 100%;
      padding: 0 vwm(30px) vwm(10px);
      justify-content: center;
      li{margin: 0 vwm(10px);}
      a{padding: vwm(5px) vwm(10px); font: vwm(20px) var(--HelveticaNeue-CondensedBold);}
      .active::after{height: vwm(4px); bottom: vwm(-4px);}
    }
    &__list{
      padding: vwm(15px) vwm(32px);
      li{padding: vwm(10px) 0;}
      a,time{
        font: vwm(20px) var(--HelveticaNeue); line-height: vwm(30px);
      }
    }
  }
  .section2{
    margin-top: vwm(50px);
    .section__right{margin-top: vwm(60px);}
    h2{margin-bottom: vwm(15px); font: vwm(24px) var(--HelveticaNeue-CondensedBold);}
    .dacsac{
      justify-content: center;
      .item{width: vwm(239px); margin: vwm(22px);}
      .thumb{
        width: 100%; height: vwm(170px); display: block;
        border-radius: vwm(30px);
        border: solid vwm(5px) #e4d4ca;
      }
      h3{padding: 0 vwm(7px); margin-top: vwm(9px); font: vwm(20px) var(--helveticaneuebold);}
    }
  }

  .category{
    width: vwm(640px); max-width: 640px;
    .frame,.download{border-radius: vwm(20px); border: solid vwm(4px) #e4d4ca;}
    .frame{
      width: 100%;
      padding: vwm(30px) vwm(50px);
    }
    .download{
      width: vwm(239px); max-width: 240px; margin: vwm(30px) auto 0; padding: vwm(15px);
      h5{margin-bottom: vwm(15px); font: vwm(24px) var(--HelveticaNeue-CondensedBold);}
      &__qrcode{width: vwm(120px); margin: 0 auto vwm(20px);}
      a{width:vwm(170px); height: vwm(58px);}
      .android{margin-bottom: vwm(6px);}
    }
    .nav-category{
      padding: 0 vwm(15px) vwm(15px);
      justify-content: flex-start;
      margin-bottom: vwm(20px);
      li{margin: 0 vwm(15px);}
      a{padding: vwm(5px) vwm(5px); font: vwm(24px) var(--HelveticaNeue-CondensedBold); line-height: vwm(26px);}
      .active::after{height: vwm(5px); bottom: vwm(-15px);}
      &::after,&::before{
        width: vwm(39px); height: vwm(17px);
        bottom: vwm(-6px);
      }
      &::before{left: vwm(-32px);}
      &::after{right: vwm(-32px);}
    }
    .news_list{
      li{padding: vwm(14px) 0; display: flex; align-items: center; justify-content: space-between;}
      a,time{
        font: vwm(20px) var(--HelveticaNeue); line-height: vwm(30px);
      }
      a{padding-right: 10px;}
    }
  }

  .breadcrumb{
    padding: 15px 0;
    a,.active{font-size: 13px; padding: 5px 0;}
  }
  .category-detail{
    .title{margin: 10px 0 20px; font-size: 18px;}
    article{font-size: 14px;}
    .tag{
      margin: 30px 0;
      a{font-size: 13px;}
    }
    .news-related{
      h4{font-size: 18px;}
      a,time{font-size: 13px;}
    }
  }

  //footer
  footer{
    padding: vwm(100px) vwm(15px);
    font: vwm(20px) var(--HelveticaNeue);
    .menu{
      a{ padding: 0 vwm(20px); color: #000; line-height: 1.2;}
    }
    .hotline{
      margin: vwm(20px) 0;
      a{color: #c94e4e; font-size: vwm(30px);}
    }
    p{margin-top: vwm(20px);}
  }
}


//animated
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn{
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
@-webkit-keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
.flash{
  animation-name: flash;
  -webkit-animation-name: flash;
}